.codeblock {
    border: 1px solid var(--code-block-border-color);
    border-radius: var(--default-border-radius);
    display: block;
    margin: 2rem 0;
    padding: 1rem;
}

.publication-date {
    margin-bottom: 3rem;
}

.cancel-out-body-x-padding {
    margin-left: calc(var(--body-x-padding) * -1);
    margin-right: calc(var(--body-x-padding) * -1);
}

.nowrap {
    white-space: nowrap;
}
