.align-self-center {
    align-self: center;
}

.board {
    background-color: var(--board-background-color);
    font-size: var(--big-font-size);
    margin: 4rem;
    padding: 4rem;
    text-align: center;
}

.bg-color-good {
    background-color: var(--good-state-background-color);
}

.bg-color-bad {
    background-color: var(--bad-state-background-color);
}

.cancel-out-body-x-padding {
    margin-left: calc(var(--body-x-padding) * -1);
    margin-right: calc(var(--body-x-padding) * -1);
}

.codeblock {
    border: 1px solid var(--code-block-border-color);
    border-radius: var(--default-border-radius);
    display: block;
    margin: 4rem;
    padding: 1rem;
}

:root.dark-theme .hidden-in-dark-theme {
    display: none;
}

:root:not(.dark-theme) .hidden-in-light-theme {
    display: none;
}

.no-padding {
    padding: 0;
}

.nowrap {
    white-space: nowrap;
}

.rounded {
    border-radius: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
