* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

html,
body {
    height: 100vh;
    overflow: auto;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Gentium Plus', serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 4rem var(--body-x-padding);
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--visited-link-color);
}

code {
    background-color: var(--code-block-background-color);
    color: var(--code-block-text-color);
    display: inline-block;
    font-family: var(--monospace-font);
    font-size: 1.6rem;
    padding: 0 0.5rem;
}

dl {
    display: block;
    margin: 4rem 0;
    padding: 0 4rem;
}

dt, dd {
    display: inline;
}

dt {
    font-weight: 700;
}

dt:not(:first-child)::before {
    content: " ";
    display: block;
    margin-top: 1rem;
}

dt::after {
    content: ": ";
}

figure {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
    margin-bottom: 1rem;
}

ol + p,
ul + p {
    margin-top: 2.5rem;
}

h2 {
    font-size: 2rem;
    margin-top: 2.5rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
}

ol,
ul {
    list-style-position: inside;
    margin: 0 4rem;
}

li {
    margin-top: 2rem;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, td {
    border: 0.5px solid var(--text-color);
}

th, td {
    padding: 1rem 3rem;
    text-align: center;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover-color);
}
