:root {
    /* DARK THEME COLORS */
    --dark-theme-background-color: #201e28;
    --dark-theme-board-background-color: #ffffff10;
    --dark-theme-dimmed-text-color: #bbbbbb90;
    --dark-theme-scrollbar-color: #bbb;
    --dark-theme-scrollbar-hover-color: #ddd;
    --dark-theme-text-color: #bbb;

    /* LIGHT THEME COLORS */
    --light-theme-background-color: #fefefe;
    --light-theme-board-background-color: #00000010;
    --light-theme-dimmed-text-color: #33333390;
    --light-theme-scrollbar-color: #333;
    --light-theme-scrollbar-hover-color: #555;
    --light-theme-text-color: #333;
}

:root {
    /* COLORS */
    --background-color: var(--light-theme-background-color);
    --bad-state-background-color: #ff000040;
    --dimmed-text-color: var(--light-theme-dimmed-text-color);
    --good-state-background-color: #00ff0040;
    --link-color: #dc7f43;
    --scrollbar-color: var(--light-theme-scrollbar-color);
    --scrollbar-hover-color: var(--light-theme-scrollbar-hover-color);
    --text-color: var(--light-theme-text-color);
    --visited-link-color: var(--text-color);

    /* FONTS */
    --big-font-size: 120%;
    --monospace-font: 'Source Code Pro', monospace;
    --small-font-size: 80%;

    /* DIMENSIONS */
    --body-x-padding: 1rem;
    --default-border-radius: 15px;

    /* ATOMS */
    /* board */
    --board-background-color: var(--light-theme-board-background-color);

    /* COMPONENTS */
    /* codeblock */
    --code-block-background-color: #ccc;
    --code-block-border-color: #aaa;
    --code-block-text-color: var(--light-theme-text-color);
}

:root.dark-theme {
    /* COLORS */
    --background-color: var(--dark-theme-background-color);
    --board-background-color: var(--dark-theme-board-background-color);
    --code-block-background-color: #373737;
    --code-block-border-color: #666;
    --code-block-text-color: #98c379;
    --dimmed-text-color: var(--dark-theme-dimmed-text-color);
    --scrollbar-color: var(--dark-theme-scrollbar-color);
    --scrollbar-hover-color: var(--dark-theme-scrollbar-hover-color);
    --text-color: var(--dark-theme-text-color);
}
