:root {
    --background-color: var(--light-theme-background-color);
    --dark-theme-background-color: #3f3f3f;
    --dark-theme-text-color: #ccc;
    --code-block-background-color: #222;
    --code-block-text-color: #cfc;
    --default-border-radius: 4px;
    --light-theme-background-color: #ddd;
    --light-theme-text-color: #444;
    --link-color: rgb(81, 128, 216);
    --text-color: var(--light-theme-text-color);
    --visited-link-color: #b176e9;;
}

:root.dark-theme {
    --background-color: var(--dark-theme-background-color);
    --text-color: var(--dark-theme-text-color);
}
