:root {
    --dark-theme-background-color: #221414;
    --dark-theme-text-color: #bbb;
    --light-theme-background-color: #dfdfdf;
    --light-theme-text-color: #333;
}

:root {
    --background-color: var(--light-theme-background-color);
    --body-x-padding: 1rem;
    --code-block-background-color: #ccc;
    --code-block-border-color: #aaa;
    --code-block-text-color: var(--light-theme-text-color);
    --default-border-radius: 15px;
    --link-color: #5180d8;
    --text-color: var(--light-theme-text-color);
    --visited-link-color: #b176e9;;
}

:root.dark-theme {
    --background-color: var(--dark-theme-background-color);
    --code-block-background-color: #373737;
    --code-block-border-color: #666;
    --code-block-text-color: #98c379;
    --text-color: var(--dark-theme-text-color);
}

@media screen and (min-width: 640px) {
    :root {
        --body-x-padding: 6rem;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --body-x-padding: 12rem;
    }
}

@media screen and (min-width: 1200px) {
    :root {
        --body-x-padding: 16rem;
    }
}

@media screen and (min-width: 1400px) {
    :root {
        --body-x-padding: 24rem;
    }
}
